.splash {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.fade {
  width: 200px;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
